#pile-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#pile-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    width: 90vw;
}

.pile-item {
    background-color: var(--secondary-color);
    padding: 30px;
    border-radius: 30px;
    transition: .2s;
    margin: 20px;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    transition: .2s;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.pile-item-name {
    font-size: 2.5rem;
    white-space: pre-line;
    overflow-wrap: anywhere;
}

.pile-item-desc {
    width: 100%;
    white-space: pre-line;
    overflow-wrap: anywhere;
}

form {
    width: 100%;
    margin-bottom: 15px;
}

.pile-controls {
    display: flex;
    padding-bottom: 5px;
    justify-content: center;
    height: 50px;
}

.pile-controls * {
    border: none;
    border-radius: 3px;
    font-size: 1em;
    margin-top: 0;
}

.pile-controls .btn {
    margin-left: 15px;
    font-weight: bold;
}

#pile-loader {
    display: block;
}

.pile-item-btns {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.fancybox-content {
    width: 80%;
    background-color: rgba(0, 0, 0 ,0);
}

.fancybox-inner {
    overflow: visible;
}

#pile-modal {
    background-color: var(--tertiary-color);
    border-radius: 20px;
    padding: 40px 40px;
    padding-bottom: 20px;
    width: auto;
    overflow-x: hidden;
}

/*

#pile-modal {
    display: block;
    position: fixed;
    z-index: 9999999;
    background: var(--tertiary-color);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#pile-modal-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#pile-item-name-input {
    margin-bottom: 15px;
}

#pile-modal-close {
    font: 25px/100% arial, sans-serif;
    position: absolute;
    right: 30px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 30px;
    content: '✖';
}

*/

textarea {
    background-color: var(--secondary-color);
    width: 100%;
    min-height: 100px;
    margin-bottom: 15px;
    border: none;
    padding: 10px;
    color: white;
}

button[disabled] {
    cursor: default !important;
    transform: none !important;
}

.history-items {
    margin-top: 40px;
}

.history-item {
    background: var(--secondary-color);
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    
    #pile-modal {
        padding: 40px 8px;
        padding-bottom: 20px;
    }

    #pile-modal .btn:hover {
        transform: scale(1.03);
    }

    #pile-items {
        width: 95vw;
    }
    
    .pile-item {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }
    
    .pile-item-name {
        font-size: 2rem;
    }

    .fancybox-content {
        width: 97%;
        padding: 0;
    }
        
    .pile-controls {
        justify-content: flex-end;
    }
}
