#pile-items {
    display: flex;
    flex-direction: column-reverse;
}

.pile-item {
    background-color: var(--secondary-color);
    padding: 30px;
    border-radius: 30px;
    transition: .2s;
    margin-bottom: 30px;
}

form {
    margin-bottom: 15px;
}

.pile-controls {
    display: flex;
    padding-bottom: 5px;
    justify-content: flex-end;
    height: 50px;
}

.pile-controls * {
    border: none;
    border-radius: 3px;
    font-size: 1em;
    margin-top: 0;
}

.pile-controls .btn {
    margin-left: 15px;
    font-weight: bold;
}

#pile-loader {
    display: block;
}

.pile-item-btns {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

#pile-modal {
    display: block;
    position: fixed;
    z-index: 9999999;
    background: var(--tertiary-color);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#pile-modal-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#pile-item-name-input {
    margin-bottom: 15px;
}

#pile-modal-close {
    font: 25px/100% arial, sans-serif;
    position: absolute;
    right: 30px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 30px;
    content: '✖'; /* UTF-8 symbol */
}

textarea {
    background-color: var(--secondary-color);
    width: 100%;
    min-height: 100px;
    margin-bottom: 15px;
    border: none;
    padding: 10px;
    color: white;
}

.fancybox-content {
    width: 80%;
    background-color: rgba(0, 0, 0 ,0);
}

.fancybox-inner {
    overflow: visible;
}

.history-item {
    background: var(--secondary-color);
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {

    .pile-item-name {
        font-size: 2.5rem;
    }

    .pile-item-name::after {
        content: "\A";
        white-space: pre;
    }

    .fancybox-content {
        width: 97%;
        padding: 0;
    }
}